{
  "smithy": "2.0",
  "metadata": {
    "inboxapp.openapi": {
      "title": "Inboxapp API",
      "version": "2.0.0"
    },
    "inboxapp.finalized": true
  },
  "shapes": {
    "com.inboxapp.api#PlatformsService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#PlatformsList"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "platforms",
        "smithy.api#documentation": "The messaging platforms available to the team, with what each one supports."
      }
    },
    "com.inboxapp.api#TeamService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#TeamGet"
        },
        {
          "target": "com.inboxapp.api#TeamListMembers"
        },
        {
          "target": "com.inboxapp.api#TeamGetMember"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "team",
        "smithy.api#documentation": "The team the API token belongs to, and its members: the Inboxapp users who work in it."
      }
    },
    "com.inboxapp.api#AccountLinksService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#AccountLinksList"
        },
        {
          "target": "com.inboxapp.api#AccountLinksGet"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "accountLinks",
        "smithy.api#documentation": "Platform accounts the team connected to Inboxapp. Every thread belongs to one, and messages are sent from one."
      }
    },
    "com.inboxapp.api#ContactsService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#ContactsList"
        },
        {
          "target": "com.inboxapp.api#ContactsGet"
        },
        {
          "target": "com.inboxapp.api#ContactsUpdate"
        },
        {
          "target": "com.inboxapp.api#ContactsAddTag"
        },
        {
          "target": "com.inboxapp.api#ContactsRemoveTag"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "contacts",
        "smithy.api#documentation": "The team's record of a person, holding its CRM state: status, tags, notes, valuation and default assignee. A contact groups one or more profiles, a person's accounts on the platforms."
      }
    },
    "com.inboxapp.api#ThreadsService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#ThreadsList"
        },
        {
          "target": "com.inboxapp.api#ThreadsGet"
        },
        {
          "target": "com.inboxapp.api#ThreadsUpdate"
        },
        {
          "target": "com.inboxapp.api#ThreadsDelete"
        },
        {
          "target": "com.inboxapp.api#ThreadsTyping"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "threads",
        "smithy.api#documentation": "Conversations between one of the team's account links and one profile."
      }
    },
    "com.inboxapp.api#MessagesService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#MessagesList"
        },
        {
          "target": "com.inboxapp.api#MessagesGet"
        },
        {
          "target": "com.inboxapp.api#MessagesEdit"
        },
        {
          "target": "com.inboxapp.api#MessagesUnsend"
        },
        {
          "target": "com.inboxapp.api#MessagesSend"
        },
        {
          "target": "com.inboxapp.api#MessagesHistory"
        },
        {
          "target": "com.inboxapp.api#MessagesReact"
        },
        {
          "target": "com.inboxapp.api#MessagesUnreact"
        },
        {
          "target": "com.inboxapp.api#MessagesAttachment"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "messages",
        "smithy.api#documentation": "Messages in a thread, and sending, editing, unsending and reacting to them on the platform."
      }
    },
    "com.inboxapp.api#TagsService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#TagsList"
        },
        {
          "target": "com.inboxapp.api#TagsCreate"
        },
        {
          "target": "com.inboxapp.api#TagsGet"
        },
        {
          "target": "com.inboxapp.api#TagsUpdate"
        },
        {
          "target": "com.inboxapp.api#TagsDelete"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "tags",
        "smithy.api#documentation": "Labels the team puts on contacts."
      }
    },
    "com.inboxapp.api#StatusesService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#StatusesList"
        },
        {
          "target": "com.inboxapp.api#StatusesCreate"
        },
        {
          "target": "com.inboxapp.api#StatusesGet"
        },
        {
          "target": "com.inboxapp.api#StatusesUpdate"
        },
        {
          "target": "com.inboxapp.api#StatusesDelete"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "statuses",
        "smithy.api#documentation": "The pipeline stages a contact can be in, such as a deal stage. A contact has at most one."
      }
    },
    "com.inboxapp.api#ColorsService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#ColorsList"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "colors",
        "smithy.api#documentation": "The colors of Inboxapp's palette, for tags and statuses."
      }
    },
    "com.inboxapp.api#EventsService": {
      "type": "service",
      "version": "2.0.0",
      "operations": [
        {
          "target": "com.inboxapp.api#EventsList"
        }
      ],
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidRequest"
        },
        {
          "target": "com.inboxapp.api#Unauthorized"
        },
        {
          "target": "com.inboxapp.api#RateLimited"
        },
        {
          "target": "com.inboxapp.api#Internal"
        }
      ],
      "traits": {
        "com.inboxapp.codegen#namespace": "events",
        "smithy.api#documentation": "Changes in the team, as delivered to v2 webhooks. Each event names the object that changed and carries only the values of the change; read the object for its current state. Events are kept for 7 days, up to 25,000 per team."
      }
    },
    "com.inboxapp.api#PlatformsListRequest": {
      "type": "structure",
      "members": {}
    },
    "com.inboxapp.api#PlatformInfo": {
      "type": "structure",
      "members": {
        "platform": {
          "target": "com.inboxapp.api#Platform",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usernamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Prepended to a `username` to display it. Empty when the platform uses none."
          }
        },
        "capabilities": {
          "target": "com.inboxapp.api#PlatformInfoCapabilities",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The platform's baseline. Each account link narrows it in its own `capabilities`."
          }
        },
        "limits": {
          "target": "com.inboxapp.api#PlatformInfoLimits",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Limits checked before a send reaches the platform."
          }
        },
        "mutationWindows": {
          "target": "com.inboxapp.api#PlatformInfoMutationWindows",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Seconds after a message's `createdAt` during which a capability still applies to it, such as `message:edit`. A capability without an entry has no window."
          }
        },
        "threadState": {
          "target": "com.inboxapp.api#PlatformInfoThreadState",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What a platform supports. Account links narrow its capabilities, and threads narrow them further through `restrictions`."
      }
    },
    "com.inboxapp.api#Platform": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The platform. Every team can use twitter; a team may have others enabled."
      }
    },
    "com.inboxapp.api#PlatformInfoCapabilitiesItem": {
      "type": "enum",
      "members": {
        "MESSAGE_SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:send"
          }
        },
        "MESSAGE_EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:edit"
          }
        },
        "MESSAGE_DELETE_SELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:delete:self"
          }
        },
        "MESSAGE_UNSEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:unsend"
          }
        },
        "MESSAGE_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:react"
          }
        },
        "MESSAGE_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:reply"
          }
        },
        "MESSAGE_FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:forward"
          }
        },
        "MEDIA_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:image"
          }
        },
        "MEDIA_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:video"
          }
        },
        "MEDIA_GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:gif"
          }
        },
        "MEDIA_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:file"
          }
        },
        "MEDIA_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:audio"
          }
        },
        "THREAD_TYPING_SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:typing:send"
          }
        },
        "THREAD_TYPING_RECEIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:typing:receive"
          }
        },
        "THREAD_MESSAGE_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:message-requests"
          }
        },
        "THREAD_DELETE_REMOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:delete:remote"
          }
        },
        "DIRECTORY_TYPEAHEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory:typeahead"
          }
        },
        "THREAD_ARCHIVE_OBSERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:archive:observe"
          }
        },
        "THREAD_ARCHIVE_MUTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:archive:mutate"
          }
        },
        "THREAD_READ_OBSERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:read:observe"
          }
        },
        "THREAD_READ_MUTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:read:mutate"
          }
        },
        "PROFILE_FOLLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile:follow"
          }
        },
        "PROFILE_UNFOLLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile:unfollow"
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#PlatformInfoCapabilities": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#PlatformInfoCapabilitiesItem"
      }
    },
    "com.inboxapp.api#PlatformInfoLimits": {
      "type": "structure",
      "members": {
        "characters": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Maximum characters in a message, counting an emoji as one. Null when the platform sets none."
          }
        },
        "mediaCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Maximum attachments in a message. Null when the platform sets none."
          }
        },
        "mediaBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Maximum size of one attachment. Null when the platform sets none."
          }
        },
        "mediaTypes": {
          "target": "com.inboxapp.api#PlatformInfoLimitsMediaTypes",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Accepted formats per media kind: MIME types, families such as `image/*`, or extensions such as `.pdf`. A kind without an entry accepts nothing. Null accepts any format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Limits checked before a send reaches the platform."
      }
    },
    "com.inboxapp.api#PlatformInfoLimitsMediaTypes": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.inboxapp.api#PlatformInfoLimitsMediaTypesImage"
        },
        "video": {
          "target": "com.inboxapp.api#PlatformInfoLimitsMediaTypesVideo"
        },
        "gif": {
          "target": "com.inboxapp.api#PlatformInfoLimitsMediaTypesGif"
        },
        "file": {
          "target": "com.inboxapp.api#PlatformInfoLimitsMediaTypesFile"
        },
        "audio": {
          "target": "com.inboxapp.api#PlatformInfoLimitsMediaTypesAudio"
        }
      }
    },
    "com.inboxapp.api#PlatformInfoLimitsMediaTypesImage": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#PlatformInfoLimitsMediaTypesVideo": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#PlatformInfoLimitsMediaTypesGif": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#PlatformInfoLimitsMediaTypesFile": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#PlatformInfoLimitsMediaTypesAudio": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#PlatformInfoMutationWindows": {
      "type": "structure",
      "members": {
        "message:send": {
          "target": "smithy.api#Integer"
        },
        "message:edit": {
          "target": "smithy.api#Integer"
        },
        "message:delete:self": {
          "target": "smithy.api#Integer"
        },
        "message:unsend": {
          "target": "smithy.api#Integer"
        },
        "message:react": {
          "target": "smithy.api#Integer"
        },
        "message:reply": {
          "target": "smithy.api#Integer"
        },
        "message:forward": {
          "target": "smithy.api#Integer"
        },
        "media:image": {
          "target": "smithy.api#Integer"
        },
        "media:video": {
          "target": "smithy.api#Integer"
        },
        "media:gif": {
          "target": "smithy.api#Integer"
        },
        "media:file": {
          "target": "smithy.api#Integer"
        },
        "media:audio": {
          "target": "smithy.api#Integer"
        },
        "thread:typing:send": {
          "target": "smithy.api#Integer"
        },
        "thread:typing:receive": {
          "target": "smithy.api#Integer"
        },
        "thread:message-requests": {
          "target": "smithy.api#Integer"
        },
        "thread:delete:remote": {
          "target": "smithy.api#Integer"
        },
        "directory:typeahead": {
          "target": "smithy.api#Integer"
        },
        "thread:archive:observe": {
          "target": "smithy.api#Integer"
        },
        "thread:archive:mutate": {
          "target": "smithy.api#Integer"
        },
        "thread:read:observe": {
          "target": "smithy.api#Integer"
        },
        "thread:read:mutate": {
          "target": "smithy.api#Integer"
        },
        "profile:follow": {
          "target": "smithy.api#Integer"
        },
        "profile:unfollow": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Seconds after a message's `createdAt` during which a capability still applies to it, such as `message:edit`. A capability without an entry has no window."
      }
    },
    "com.inboxapp.api#PlatformInfoThreadState": {
      "type": "structure",
      "members": {
        "archive": {
          "target": "com.inboxapp.api#PlatformInfoThreadStateArchive",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Null when the platform has no such state."
          }
        },
        "read": {
          "target": "com.inboxapp.api#PlatformInfoThreadStateRead",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Null when the platform has no such state."
          }
        }
      }
    },
    "com.inboxapp.api#PlatformInfoThreadStateArchive": {
      "type": "structure",
      "members": {
        "observe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Inboxapp reads this state from the platform."
          }
        },
        "mutate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Changing it in Inboxapp also changes it on the platform."
          }
        }
      }
    },
    "com.inboxapp.api#PlatformInfoThreadStateRead": {
      "type": "structure",
      "members": {
        "observe": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Inboxapp reads this state from the platform."
          }
        },
        "mutate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Changing it in Inboxapp also changes it on the platform."
          }
        }
      }
    },
    "com.inboxapp.api#PlatformsListResponse": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#PlatformInfo"
      }
    },
    "com.inboxapp.api#InvalidRequest": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#InvalidRequestCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.inboxapp.api#InvalidRequestDetails",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "invalidRequest"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.inboxapp.api#InvalidRequestCode": {
      "type": "enum",
      "members": {
        "INVALID_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalidRequest"
          }
        }
      }
    },
    "com.inboxapp.api#InvalidRequestDetails": {
      "type": "structure",
      "members": {
        "issues": {
          "target": "com.inboxapp.api#InvalidRequestDetailsIssues",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.inboxapp.api#InvalidRequestDetailsIssuesItem": {
      "type": "structure",
      "members": {
        "path": {
          "target": "com.inboxapp.api#InvalidRequestDetailsIssuesItemPath",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.inboxapp.api#InvalidRequestDetailsIssuesItemPathItem": {
      "type": "union",
      "members": {
        "string": {
          "target": "smithy.api#String"
        },
        "variant": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.inboxapp.api#InvalidRequestDetailsIssuesItemPath": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#InvalidRequestDetailsIssuesItemPathItem"
      }
    },
    "com.inboxapp.api#InvalidRequestDetailsIssues": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#InvalidRequestDetailsIssuesItem"
      }
    },
    "com.inboxapp.api#Unauthorized": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#UnauthorizedCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "unauthorized"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.inboxapp.api#UnauthorizedCode": {
      "type": "enum",
      "members": {
        "UNAUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unauthorized"
          }
        }
      }
    },
    "com.inboxapp.api#RateLimited": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#RateLimitedCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.inboxapp.api#RateLimitedDetails",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "rateLimited"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": {
          "throttling": true
        }
      }
    },
    "com.inboxapp.api#RateLimitedCode": {
      "type": "enum",
      "members": {
        "RATE_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rateLimited"
          }
        }
      }
    },
    "com.inboxapp.api#RateLimitedDetails": {
      "type": "structure",
      "members": {
        "window": {
          "target": "com.inboxapp.api#RateLimitedDetailsWindow",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resetAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.inboxapp.api#RateLimitedDetailsWindow": {
      "type": "enum",
      "members": {
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#Internal": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#InternalCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "internal"
          }
        ],
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.inboxapp.api#InternalCode": {
      "type": "enum",
      "members": {
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "internal"
          }
        }
      }
    },
    "com.inboxapp.api#PlatformsList": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#PlatformsListRequest"
      },
      "output": {
        "target": "com.inboxapp.api#PlatformsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/platforms",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "platforms.list",
        "com.inboxapp.codegen#operationName": "list",
        "smithy.api#documentation": "List platforms\n\nEach platform's capabilities and limits. An account link's `capabilities` can only narrow its platform's."
      }
    },
    "com.inboxapp.api#TeamGetRequest": {
      "type": "structure",
      "members": {}
    },
    "com.inboxapp.api#Team": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The team's URL segment in Inboxapp."
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The ISO 4217 code contact valuations are in."
          }
        },
        "allowSupportAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Whether the team lets Inboxapp support open its workspace."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team the API token belongs to."
      }
    },
    "com.inboxapp.api#TeamGet": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#TeamGetRequest"
      },
      "output": {
        "target": "com.inboxapp.api#Team"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/team",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "team.get",
        "com.inboxapp.codegen#operationName": "get",
        "smithy.api#documentation": "Get team"
      }
    },
    "com.inboxapp.api#TeamListMembersRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Page size, from 1 to 100. Defaults to 50."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The previous page's `nextCursor`. Opaque, and valid only with the filters it was issued for."
          }
        }
      }
    },
    "com.inboxapp.api#MemberPage": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inboxapp.api#MemberPageData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Pass it back as `cursor`, with the same filters, to read the next page. Null on the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ordered by `createdAt`, oldest first."
      }
    },
    "com.inboxapp.api#Member": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The member ID that `assigneeId` fields take."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "role": {
          "target": "com.inboxapp.api#MemberRole",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "`owner` and `admin` manage the team. A `user` can't change settings, billing or members."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A person on the team, who can be assigned threads and contacts."
      }
    },
    "com.inboxapp.api#MemberRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`owner` and `admin` manage the team. A `user` can't change settings, billing or members.",
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#MemberPageData": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Member"
      }
    },
    "com.inboxapp.api#InvalidCursor": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#InvalidCursorCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "invalidCursor"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.inboxapp.api#InvalidCursorCode": {
      "type": "enum",
      "members": {
        "INVALID_CURSOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalidCursor"
          }
        }
      }
    },
    "com.inboxapp.api#TeamListMembers": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#TeamListMembersRequest"
      },
      "output": {
        "target": "com.inboxapp.api#MemberPage"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidCursor"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/members",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "team.listMembers",
        "com.inboxapp.codegen#operationName": "listMembers",
        "smithy.api#documentation": "List members",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "nextCursor",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.inboxapp.api#Cuid2": {
      "type": "string"
    },
    "com.inboxapp.api#TeamGetMemberRequest": {
      "type": "structure",
      "members": {
        "memberId": {
          "target": "com.inboxapp.api#Cuid2",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.inboxapp.api#MemberNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#MemberNotFoundCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "memberNotFound"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.inboxapp.api#MemberNotFoundCode": {
      "type": "enum",
      "members": {
        "MEMBER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "memberNotFound"
          }
        }
      }
    },
    "com.inboxapp.api#TeamGetMember": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#TeamGetMemberRequest"
      },
      "output": {
        "target": "com.inboxapp.api#Member"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#MemberNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/members/{memberId}",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "team.getMember",
        "com.inboxapp.codegen#operationName": "getMember",
        "smithy.api#documentation": "Get member"
      }
    },
    "com.inboxapp.api#AccountLinksListRequestPlatform": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Platform"
      }
    },
    "com.inboxapp.api#AccountLinksListRequestStatusItem": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "offline"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`active` sends and syncs. `paused` is stopped for the reasons in `pauseReasons`, and resumes once none remain. `offline` lost its connection to the platform and must be reconnected in Inboxapp."
      }
    },
    "com.inboxapp.api#AccountLinksListRequestStatus": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#AccountLinksListRequestStatusItem"
      }
    },
    "com.inboxapp.api#AccountLinksListRequest": {
      "type": "structure",
      "members": {
        "platform": {
          "target": "com.inboxapp.api#AccountLinksListRequestPlatform",
          "traits": {
            "smithy.api#httpQuery": "platform",
            "smithy.api#documentation": "Repeat the key to match any of several."
          }
        },
        "status": {
          "target": "com.inboxapp.api#AccountLinksListRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Repeat the key to match any of several."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Page size, from 1 to 100. Defaults to 50."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The previous page's `nextCursor`. Opaque, and valid only with the filters it was issued for."
          }
        }
      }
    },
    "com.inboxapp.api#AccountLinkPage": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inboxapp.api#AccountLinkPageData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Pass it back as `cursor`, with the same filters, to read the next page. Null on the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ordered by `createdAt`, oldest first."
      }
    },
    "com.inboxapp.api#AccountLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.inboxapp.api#Platform",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platformId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID the platform gives this object. Only meaningful next to its `platform`."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "The platform username without its display prefix. Lookups take this form."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "status": {
          "target": "com.inboxapp.api#AccountLinkStatus",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "`active` sends and syncs. `paused` is stopped for the reasons in `pauseReasons`, and resumes once none remain. `offline` lost its connection to the platform and must be reconnected in Inboxapp."
          }
        },
        "pauseReasons": {
          "target": "com.inboxapp.api#AccountLinkPauseReasons",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Why the account link is paused. New reasons may be added."
          }
        },
        "capabilities": {
          "target": "com.inboxapp.api#AccountLinkCapabilities",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "What this account can do: its platform's capabilities, narrowed for this account. An operation it lacks fails with `capabilityNotSupported`."
          }
        },
        "syncedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "When Inboxapp finished importing the account's conversations. Null until then."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A platform account the team connected to Inboxapp. Every conversation and message goes through one."
      }
    },
    "com.inboxapp.api#AccountLinkStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "offline"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`active` sends and syncs. `paused` is stopped for the reasons in `pauseReasons`, and resumes once none remain. `offline` lost its connection to the platform and must be reconnected in Inboxapp.",
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#AccountLinkPauseReasons": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#AccountLinkCapabilitiesItem": {
      "type": "enum",
      "members": {
        "MESSAGE_SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:send"
          }
        },
        "MESSAGE_EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:edit"
          }
        },
        "MESSAGE_DELETE_SELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:delete:self"
          }
        },
        "MESSAGE_UNSEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:unsend"
          }
        },
        "MESSAGE_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:react"
          }
        },
        "MESSAGE_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:reply"
          }
        },
        "MESSAGE_FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message:forward"
          }
        },
        "MEDIA_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:image"
          }
        },
        "MEDIA_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:video"
          }
        },
        "MEDIA_GIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:gif"
          }
        },
        "MEDIA_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:file"
          }
        },
        "MEDIA_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media:audio"
          }
        },
        "THREAD_TYPING_SEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:typing:send"
          }
        },
        "THREAD_TYPING_RECEIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:typing:receive"
          }
        },
        "THREAD_MESSAGE_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:message-requests"
          }
        },
        "THREAD_DELETE_REMOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:delete:remote"
          }
        },
        "DIRECTORY_TYPEAHEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "directory:typeahead"
          }
        },
        "THREAD_ARCHIVE_OBSERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:archive:observe"
          }
        },
        "THREAD_ARCHIVE_MUTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:archive:mutate"
          }
        },
        "THREAD_READ_OBSERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:read:observe"
          }
        },
        "THREAD_READ_MUTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread:read:mutate"
          }
        },
        "PROFILE_FOLLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile:follow"
          }
        },
        "PROFILE_UNFOLLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile:unfollow"
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#AccountLinkCapabilities": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#AccountLinkCapabilitiesItem"
      }
    },
    "com.inboxapp.api#AccountLinkPageData": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#AccountLink"
      }
    },
    "com.inboxapp.api#PlatformNotAvailable": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#PlatformNotAvailableCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.inboxapp.api#PlatformNotAvailableDetails",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "platformNotAvailable"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.inboxapp.api#PlatformNotAvailableCode": {
      "type": "enum",
      "members": {
        "PLATFORM_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "platformNotAvailable"
          }
        }
      }
    },
    "com.inboxapp.api#PlatformNotAvailableDetails": {
      "type": "structure",
      "members": {
        "platform": {
          "target": "com.inboxapp.api#Platform",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.inboxapp.api#AccountLinksList": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#AccountLinksListRequest"
      },
      "output": {
        "target": "com.inboxapp.api#AccountLinkPage"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidCursor"
        },
        {
          "target": "com.inboxapp.api#PlatformNotAvailable"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/account-links",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "accountLinks.list",
        "com.inboxapp.codegen#operationName": "list",
        "smithy.api#documentation": "List account links",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "nextCursor",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.inboxapp.api#AccountLinksGetRequest": {
      "type": "structure",
      "members": {
        "accountLinkId": {
          "target": "com.inboxapp.api#Cuid2",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.inboxapp.api#AccountLinkNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#AccountLinkNotFoundCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "accountLinkNotFound"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.inboxapp.api#AccountLinkNotFoundCode": {
      "type": "enum",
      "members": {
        "ACCOUNT_LINK_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accountLinkNotFound"
          }
        }
      }
    },
    "com.inboxapp.api#AccountLinksGet": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#AccountLinksGetRequest"
      },
      "output": {
        "target": "com.inboxapp.api#AccountLink"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#PlatformNotAvailable"
        },
        {
          "target": "com.inboxapp.api#AccountLinkNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/account-links/{accountLinkId}",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "accountLinks.get",
        "com.inboxapp.codegen#operationName": "get",
        "smithy.api#documentation": "Get account link"
      }
    },
    "com.inboxapp.api#ContactsListRequestPlatformId": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#ContactsListRequestUsername": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#ContactsListRequestExpandItem": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "TAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tags"
          }
        },
        "ASSIGNEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assignee"
          }
        }
      }
    },
    "com.inboxapp.api#ContactsListRequestExpand": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#ContactsListRequestExpandItem"
      }
    },
    "com.inboxapp.api#ContactsListRequest": {
      "type": "structure",
      "members": {
        "platform": {
          "target": "com.inboxapp.api#Platform",
          "traits": {
            "smithy.api#httpQuery": "platform",
            "smithy.api#required": {}
          }
        },
        "platformId": {
          "target": "com.inboxapp.api#ContactsListRequestPlatformId",
          "traits": {
            "smithy.api#httpQuery": "platformId",
            "smithy.api#documentation": "Contacts with a profile of this platform ID. Give this or the other identity filter, repeating the key for up to 100. No match is an empty page."
          }
        },
        "username": {
          "target": "com.inboxapp.api#ContactsListRequestUsername",
          "traits": {
            "smithy.api#httpQuery": "username",
            "smithy.api#documentation": "Contacts with a profile of this username, without its display prefix. One username may match several contacts. Give this or the other identity filter, repeating the key for up to 100. No match is an empty page."
          }
        },
        "expand": {
          "target": "com.inboxapp.api#ContactsListRequestExpand",
          "traits": {
            "smithy.api#httpQuery": "expand",
            "smithy.api#documentation": "Related resources to embed next to their ID field, one path per key, at most 4."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Page size, from 1 to 100. Defaults to 50."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The previous page's `nextCursor`. Opaque, and valid only with the filters it was issued for."
          }
        }
      }
    },
    "com.inboxapp.api#ContactPage": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inboxapp.api#ContactPageData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Pass it back as `cursor`, with the same filters, to read the next page. Null on the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ordered by `createdAt`, oldest first."
      }
    },
    "com.inboxapp.api#Contact": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "profiles": {
          "target": "com.inboxapp.api#ContactProfiles",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The person's profiles, oldest link first. Profiles on platforms unavailable to the team are left out."
          }
        },
        "statusId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "A status: a pipeline stage on the team's board."
          }
        },
        "tagIds": {
          "target": "com.inboxapp.api#ContactTagIds",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "valuation": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "What the person is worth to the team, in the team's `currency`."
          }
        },
        "assigneeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "The default assignee of this contact's threads that have none of their own."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.inboxapp.api#Status"
        },
        "tags": {
          "target": "com.inboxapp.api#ContactTags"
        },
        "assignee": {
          "target": "com.inboxapp.api#Member"
        }
      },
      "traits": {
        "smithy.api#documentation": "The team's record of a person: their profiles, plus the team's CRM state about them."
      }
    },
    "com.inboxapp.api#Profile": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.inboxapp.api#Platform",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platformId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID the platform gives this object. Only meaningful next to its `platform`."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The platform username without its display prefix. Lookups take this form."
          }
        },
        "handle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The username as the platform displays it. Show this, and look up by `username`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "bio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "websiteUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "websiteDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The platform vouches for the account, such as with an X badge. Platform-specific badges are in `platformData`."
          }
        },
        "isOrganization": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "A company or page rather than a person."
          }
        },
        "isProtected": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "The account's posts are visible only to approved followers."
          }
        },
        "followerCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "followingCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "postCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "engagementCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "On X, how many posts the user has liked."
          }
        },
        "listedCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "On X, how many lists include the profile."
          }
        },
        "accountStatus": {
          "target": "com.inboxapp.api#ProfileAccountStatus",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "`suspended` by the platform, or `notFound` when deleted or deactivated."
          }
        },
        "platformCreatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "When the account was created on the platform."
          }
        },
        "profileUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "When Inboxapp last stored a change to this profile."
          }
        },
        "platformData": {
          "target": "com.inboxapp.api#ProfilePlatformData",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One person's account on one platform. Profile data is shared across teams; the team's own data about the person is on their contact."
      }
    },
    "com.inboxapp.api#ProfileAccountStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notFound"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`suspended` by the platform, or `notFound` when deleted or deactivated.",
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#ProfilePlatformData": {
      "type": "union",
      "members": {
        "twitter": {
          "target": "com.inboxapp.api#ProfilePlatformDataTwitter"
        },
        "other": {
          "target": "com.inboxapp.api#ProfilePlatformDataOther"
        }
      },
      "traits": {
        "smithy.api#documentation": "Fields only one platform has, tagged by `_tag`. Ignore tags you don't know.",
        "com.inboxapp.codegen#discriminator": "_tag"
      }
    },
    "com.inboxapp.api#ProfilePlatformDataTwitter": {
      "type": "structure",
      "members": {
        "_tag": {
          "target": "com.inboxapp.api#ProfilePlatformDataTwitterTag",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "badge": {
          "target": "com.inboxapp.api#ProfilePlatformDataTwitterBadge",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "profileType": {
          "target": "com.inboxapp.api#ProfilePlatformDataTwitterProfileType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "professionalCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "urlEntities": {
          "target": "com.inboxapp.api#ProfilePlatformDataTwitterUrlEntities",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bannerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "rawData": {
          "target": "com.inboxapp.api#ProfilePlatformDataTwitterRawData",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {}
          }
        }
      }
    },
    "com.inboxapp.api#ProfilePlatformDataTwitterTag": {
      "type": "enum",
      "members": {
        "TWITTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twitter"
          }
        }
      }
    },
    "com.inboxapp.api#ProfilePlatformDataTwitterBadge": {
      "type": "enum",
      "members": {
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blue"
          }
        },
        "GOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gold"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gray"
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#ProfilePlatformDataTwitterProfileType": {
      "type": "enum",
      "members": {
        "PERSONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        },
        "GOVERNMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "government"
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#ProfilePlatformDataTwitterUrlEntitiesItem": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expandedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "indices": {
          "target": "com.inboxapp.api#ProfilePlatformDataTwitterUrlEntitiesItemIndices",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.inboxapp.api#ProfilePlatformDataTwitterUrlEntitiesItemIndices": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "com.inboxapp.codegen#tuple": 2
      }
    },
    "com.inboxapp.api#ProfilePlatformDataTwitterUrlEntities": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#ProfilePlatformDataTwitterUrlEntitiesItem"
      }
    },
    "com.inboxapp.api#ProfilePlatformDataTwitterRawData": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.inboxapp.api#ProfilePlatformDataOther": {
      "type": "structure",
      "members": {
        "_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A platform the team has enabled beyond those every team can use. Its fields are not listed here.",
        "com.inboxapp.codegen#open": true
      }
    },
    "com.inboxapp.api#ContactProfiles": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Profile"
      }
    },
    "com.inboxapp.api#ContactTagIds": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#Status": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique within the team, ignoring case and accents."
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Null when the status has no color."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pipeline stage on the team's board. A contact has at most one status."
      }
    },
    "com.inboxapp.api#Tag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Unique within the team, ignoring case and accents."
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "A lowercase hex color."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A label the team puts on contacts. A contact can have several."
      }
    },
    "com.inboxapp.api#ContactTags": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Tag"
      }
    },
    "com.inboxapp.api#ContactPageData": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Contact"
      }
    },
    "com.inboxapp.api#ContactsList": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#ContactsListRequest"
      },
      "output": {
        "target": "com.inboxapp.api#ContactPage"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#InvalidCursor"
        },
        {
          "target": "com.inboxapp.api#PlatformNotAvailable"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contacts",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "contacts.list",
        "com.inboxapp.codegen#operationName": "list",
        "smithy.api#documentation": "Find contacts\n\nFinds contacts by the platform identity of one of their profiles: a `platform` with `platformId` or `username`.",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "nextCursor",
          "items": "data",
          "pageSize": "limit"
        }
      }
    },
    "com.inboxapp.api#ContactsGetRequestExpandItem": {
      "type": "enum",
      "members": {
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        },
        "TAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tags"
          }
        },
        "ASSIGNEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assignee"
          }
        }
      }
    },
    "com.inboxapp.api#ContactsGetRequestExpand": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#ContactsGetRequestExpandItem"
      }
    },
    "com.inboxapp.api#ContactsGetRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.inboxapp.api#Cuid2",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expand": {
          "target": "com.inboxapp.api#ContactsGetRequestExpand",
          "traits": {
            "smithy.api#httpQuery": "expand",
            "smithy.api#documentation": "Related resources to embed next to their ID field, one path per key, at most 4."
          }
        }
      }
    },
    "com.inboxapp.api#ContactNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#ContactNotFoundCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "contactNotFound"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.inboxapp.api#ContactNotFoundCode": {
      "type": "enum",
      "members": {
        "CONTACT_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contactNotFound"
          }
        }
      }
    },
    "com.inboxapp.api#ContactsGet": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#ContactsGetRequest"
      },
      "output": {
        "target": "com.inboxapp.api#Contact"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#PlatformNotAvailable"
        },
        {
          "target": "com.inboxapp.api#ContactNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contacts/{contactId}",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "contacts.get",
        "com.inboxapp.codegen#operationName": "get",
        "smithy.api#documentation": "Get contact"
      }
    },
    "com.inboxapp.api#ContactsUpdateRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.inboxapp.api#Cuid2",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "A status, by ID or by name. Names match ignoring case and accents. When a value is one status's ID and another's name, the ID wins."
          }
        },
        "notes": {
          "target": "smithy.api#String",
          "traits": {
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "valuation": {
          "target": "smithy.api#Double",
          "traits": {
            "com.inboxapp.codegen#nullable": {}
          }
        },
        "assigneeId": {
          "target": "com.inboxapp.api#Cuid2",
          "traits": {
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "The default assignee of this contact's threads that have none of their own."
          }
        }
      }
    },
    "com.inboxapp.api#WorkspaceLocked": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#WorkspaceLockedCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "workspaceLocked"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.inboxapp.api#WorkspaceLockedCode": {
      "type": "enum",
      "members": {
        "WORKSPACE_LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workspaceLocked"
          }
        }
      }
    },
    "com.inboxapp.api#ContactsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#ContactsUpdateRequest"
      },
      "output": {
        "target": "com.inboxapp.api#Contact"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#PlatformNotAvailable"
        },
        {
          "target": "com.inboxapp.api#WorkspaceLocked"
        },
        {
          "target": "com.inboxapp.api#ContactNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/contacts/{contactId}",
          "code": 200
        },
        "com.inboxapp.codegen#operationId": "contacts.update",
        "com.inboxapp.codegen#operationName": "update",
        "smithy.api#documentation": "Update contact"
      }
    },
    "com.inboxapp.api#ContactsAddTagRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.inboxapp.api#Cuid2",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tagRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A tag, by ID or by name. Names match ignoring case and accents. When a value is one tag's ID and another's name, the ID wins."
          }
        }
      }
    },
    "com.inboxapp.api#TagNotFound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.inboxapp.api#TagNotFoundCode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "com.inboxapp.codegen#errorMatchers": [
          {
            "code": "tagNotFound"
          }
        ],
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.inboxapp.api#TagNotFoundCode": {
      "type": "enum",
      "members": {
        "TAG_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tagNotFound"
          }
        }
      }
    },
    "com.inboxapp.api#ContactsAddTag": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#ContactsAddTagRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#PlatformNotAvailable"
        },
        {
          "target": "com.inboxapp.api#WorkspaceLocked"
        },
        {
          "target": "com.inboxapp.api#ContactNotFound"
        },
        {
          "target": "com.inboxapp.api#TagNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/contacts/{contactId}/tags/{tagRef}",
          "code": 204
        },
        "com.inboxapp.codegen#operationId": "contacts.addTag",
        "com.inboxapp.codegen#operationName": "addTag",
        "smithy.api#documentation": "Add tag to contact\n\nAdding a tag the contact already has succeeds."
      }
    },
    "com.inboxapp.api#ContactsRemoveTagRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.inboxapp.api#Cuid2",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tagRef": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A tag, by ID or by name. Names match ignoring case and accents. When a value is one tag's ID and another's name, the ID wins."
          }
        }
      }
    },
    "com.inboxapp.api#ContactsRemoveTag": {
      "type": "operation",
      "input": {
        "target": "com.inboxapp.api#ContactsRemoveTagRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.inboxapp.api#PlatformNotAvailable"
        },
        {
          "target": "com.inboxapp.api#WorkspaceLocked"
        },
        {
          "target": "com.inboxapp.api#ContactNotFound"
        },
        {
          "target": "com.inboxapp.api#TagNotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/contacts/{contactId}/tags/{tagRef}",
          "code": 204
        },
        "com.inboxapp.codegen#operationId": "contacts.removeTag",
        "com.inboxapp.codegen#operationName": "removeTag",
        "smithy.api#documentation": "Remove tag from contact\n\nRemoving a tag the contact doesn't have succeeds."
      }
    },
    "com.inboxapp.api#ThreadsListRequestAccountLinkId": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Cuid2"
      }
    },
    "com.inboxapp.api#ThreadsListRequestPlatform": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Platform"
      }
    },
    "com.inboxapp.api#ThreadsListRequestContactId": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Cuid2"
      }
    },
    "com.inboxapp.api#ThreadsListRequestFolder": {
      "type": "enum",
      "members": {
        "INBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inbox"
          }
        },
        "NO_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "noReply"
          }
        },
        "REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requests"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defaults to `inbox`, threads that are neither archived nor requests. `noReply` is the `inbox` threads whose latest activity is inbound. `requests` holds unarchived threads where `isRequest` is true. `archived` includes requests. `all` spans every folder. Every other filter narrows the folder."
      }
    },
    "com.inboxapp.api#ThreadsListRequestTag": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#ThreadsListRequestStatus": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.inboxapp.api#ThreadsListRequestAssigneeId": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Cuid2"
      }
    },
    "com.inboxapp.api#ThreadsListRequestCampaignId": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#Cuid2"
      }
    },
    "com.inboxapp.api#ThreadsListRequestOrder": {
      "type": "enum",
      "members": {
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction by inbox order: `activity.at`, or `createdAt` for a thread with no activity. A reminder or an accepted message request moves a thread up until its next message, without changing `activity.at`. Defaults to `desc`, newest first."
      }
    },
    "com.inboxapp.api#ThreadsListRequestExpandItem": {
      "type": "enum",
      "members": {
        "PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "profile"
          }
        },
        "CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contact"
          }
        },
        "ACCOUNT_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accountLink"
          }
        },
        "ASSIGNEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assignee"
          }
        }
      }
    },
    "com.inboxapp.api#ThreadsListRequestExpand": {
      "type": "list",
      "member": {
        "target": "com.inboxapp.api#ThreadsListRequestExpandItem"
      }
    },
    "com.inboxapp.api#ThreadsListRequest": {
      "type": "structure",
      "members": {
        "accountLinkId": {
          "target": "com.inboxapp.api#ThreadsListRequestAccountLinkId",
          "traits": {
            "smithy.api#httpQuery": "accountLinkId",
            "smithy.api#documentation": "Threads of these account links. Repeat the key to match any of several."
          }
        },
        "platform": {
          "target": "com.inboxapp.api#ThreadsListRequestPlatform",
          "traits": {
            "smithy.api#httpQuery": "platform",
            "smithy.api#documentation": "Repeat the key to match any of several."
          }
        },
        "contactId": {
          "target": "com.inboxapp.api#ThreadsListRequestContactId",
          "traits": {
            "smithy.api#httpQuery": "contactId",
            "smithy.api#documentation": "Threads with these contacts. With `accountLinkId`, finds the thread between an account and a contact. Repeat the key to match any of several."
          }
        },
        "folder": {
          "target": "com.inboxapp.api#ThreadsListRequestFolder",
          "traits": {
            "smithy.api#httpQuery": "folder",
            "smithy.api#documentation": "Defaults to `inbox`, threads that are neither archived nor requests. `noReply` is the `inbox` threads whose latest activity is inbound. `requests` holds unarchived threads where `isRequest` is true. `archived` includes requests. `all` spans every folder. Every other filter narrows the folder."
          }
        },
        "tag": {
          "target": "com.inboxapp.api#ThreadsListRequestTag",
          "traits": {
            "smithy.api#httpQuery": "tag",
            "smithy.api#documentation": "Threads whose contact has one of these tags. Repeat the key to match any of several."
          }
        },
        "status": {
          "target": "com.inboxapp.api#ThreadsListRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Threads whose contact has one of these statuses. Repeat the key to match any of several."
          }
        },
        "assigneeId": {
          "target": "com.inboxapp.api#ThreadsListRequestAssigneeId",
          "traits": {
            "smithy.api#httpQuery": "assigneeId",
            "smithy.api#documentation": "Threads whose `assigneeId`, the thread's own assignee or else its contact's, is one of these members. Repeat the key to match any of several."
          }
        },
        "unassigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "unassigned",
            "smithy.api#documentation": "`true` keeps threads with no assignee, including through their contact. Not combinable with `assigneeId`."
          }
        },
        "campaignId": {
          "target": "com.inboxapp.api#ThreadsListRequestCampaignId",
          "traits": {
            "smithy.api#httpQuery": "campaignId",
            "smithy.api#documentation": "Threads these campaigns sent a message in. Campaign sends archive the thread, so pair it with `folder=archived` or `all`. Repeat the key to match any of several."
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q",
            "smithy.api#documentation": "Searches profile display names, usernames and the activity preview. Results follow `order`, not relevance."
          }
        },
        "order": {
          "target": "com.inboxapp.api#ThreadsListRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort direction by inbox order: `activity.at`, or `createdAt` for a thread with no activity. A reminder or an accepted message request moves a thread up until its next message, without changing `activity.at`. Defaults to `desc`, newest first."
          }
        },
        "expand": {
          "target": "com.inboxapp.api#ThreadsListRequestExpand",
          "traits": {
            "smithy.api#httpQuery": "expand",
            "smithy.api#documentation": "Related resources to embed next to their ID field, one path per key, at most 4."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Page size, from 1 to 100. Defaults to 50."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The previous page's `nextCursor`. Opaque, and valid only with the filters it was issued for."
          }
        }
      }
    },
    "com.inboxapp.api#ThreadPage": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.inboxapp.api#ThreadPageData",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "Pass it back as `cursor`, with the same filters, to read the next page. Null on the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "In inbox order, newest first unless `order` is `asc`."
      }
    },
    "com.inboxapp.api#Thread": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.inboxapp.api#Platform",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#documentation": "Always the platform of the thread's account link and profile."
          }
        },
        "platformId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.inboxapp.codegen#nullable": {},
            "smithy.api#documentation": "The conversation's ID on the platform. Null until the first message creates the conversation there."
          }
        },
        "accountLinkId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
[...]
